<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kilometers / Miles</title>
</head>
<body>
<h1>Hello, I am your Unit Converter. I can convert Kilometers to Miles and...Miles to Kilometers...Duuuuh!</h1>

<p>Please select an option:</p>
<form method="post" action="/fin">
    <input type="number" name="quantity">

     <select name="inp">
          <option value="miles">miles to kilometers</option>
          <option value="km">kilometers to miles</option>
        </select>

<button>Convert</button>

</form>
</body>
</html>